body {
    background-color: rgb(12, 73, 70);
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(75, 0, 105);
    font-size: 100px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 2px gray;
}

h2 {
    color: rgb(75, 0, 105);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10px 0;
    text-shadow: 1px 1px 2px gray;
}

img {
    border: 2px solid black;
    width: 200px;
    height: auto;
    display: block;
    float: left;
    margin: 10px 20px 10px 2;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.introduction {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-bottom: 20px;
    text-align: justify;
    text-shadow: 1px 1px 2px gray;

}

.studies {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-bottom: 20px 20px 20px 0;
    text-align: justify;
    text-shadow: 1px 1px 2px gray;
    padding: 10px 20px 10px 0;

}

.experience {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-bottom: 20px;
    text-align: justify;
    text-shadow: 1px 1px 2px gray;

}

.hobbies {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-bottom: 20px;
    text-align: justify;
    text-shadow: 1px 1px 2px gray;

}

p {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: justify;
    text-indent: 50px;
    transition: color 0.3s ease;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0, 172, 149, 0.8);
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

}